.header {
  position: sticky;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-border);
  z-index: 9999;
  top: 0;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 120px;
    height: 50px;
  }
}

.login {
  a {
    border-radius: 12px;
    padding: 10px 28px;
    background: var(--color-l-button);
    font-size: var(--font-s-button);
    color: #fff;
    font-weight: 400;
    display: block;
  }

  figure {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    overflow: hidden;
    cursor: pointer;
  }

  img {
    object-fit: contain;
  }
}
