* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --font-s-input: 1.2em;
  --font-s-button: 1.2em;
  --color-border: #cacaca;
  --color-text: #7c7c7c;
  --color-button: #006bef;
  // color color font button
  --color-white: #fff;
  --color-h1: #454444;
  --color-h2: #4b4b4b;
  // color link button
  --color-black: #111111;
  --color-green: #0fa21b;
  --color-red: #cc0b0b;
  --color-shadow: #f7f7f7;
  // Loading color
  --color-loading-1: #acacac33;
  --color-loading-2: #a8a8a8;
}

#__next {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'sentinela'
    'footer';
  grid-template-rows: 70px auto auto 300px;
  grid-template-columns: 100%;
}

// https://metajunaid.github.io/SpinBolt/
.loading {
  height: 100%;
  width: 100%;
  color: var(--color-loading-1);
  position: relative;
  display: inline-block;
  border: 3px solid;
  border-radius: 50%;
  border-right-color: var(--color-loading-2);
  animation: rotate 1s linear infinite;
  margin: 0 auto;
}

.main {
  grid-area: main;
  min-height: 100vh;
}

#sentinela {
  grid-area: sentinela;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }

//   body {
//     color: white;
//     background: black;
//   }
// }
