.form {
  h1 {
    color: var(--color-h1)
  }

  width: 100%;
  max-width: 300px;
  height: 50vh;
  margin: 8em auto;

  button {
    margin-top: 2.2em;
    font-size: var(--font-s-button);
    padding: 12px 22px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background: var(--color-button);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    span {
      width: 20px;
      height: 20px;
    }
  }

  p {
    position: absolute;
    transform: translateY(12px);
    color: var(--color-red);
  }
}
